<h1 class="page-title">Detalle del Producto</h1>

<div class="product-detail-container">
    <div class="product-detail-info">
        <h2 class="product-detail-title">{{product.title}}</h2>
        <p class="product-detail-category">{{product.category}}</p>
        <p class="product-detail-price">U$S {{product.price}}</p>
        <p class="product-detail-stock">Stock: {{product.stock}}</p>
        <p class="product-detail-description">{{product.description}}</p>

        <div class="product-detail-actions">
            <a href="/products" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Volver al Listado</a>
            <form action="/api/carts/1/products/{{product._id}}" method="POST" class="add-to-cart-form-detail">
                <button type="submit" class="btn btn-success">
                    Añadir al Carrito <i class="fas fa-cart-plus"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="product-detail-image-wrapper">
        <img src="/{{product.thumbnails}}" alt="{{product.title}}" class="product-detail-img">
    </div>
</div>